<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <title>Fahrplan-App</title>
    <link rel="stylesheet"  href="buefy.min.css">
  </head>
  <body>
    <div id="app" class="container">
      <section>
        <b-field>
          <b-input v-model="search" placeholder="Ort"></b-input>
          <b-button @click="searchStations">Suche</b-button>
        </b-field>
        <ul>
          <li v-for="station in stations" @click="showDeparture(station.id)">{{ station.name }}</li>
        </ul>
      </section>
    </div>
    <script src="vue.js"></script>
    <script src="buefy.min.js"></script>
    <script src="api.js"></script>
    <script src="app.js"></script>
  </body>
</html>
